/* ======== VARIABLES ======== */
:root {
  --clr-primary: #CE9797;
  --clr-primary-lt: #F8BFBF;
  --clr-secondary: #F96262;
  --clr-secondary-lt: #EE8C8C;
  --clr-base: #413A3A;
  --clr-helper: #FFF5F5;
  --clr-ntrl-max: #FFF;
  --ff-primary: 'Josefin Sans', sans-serif;
}
/* ========== RESET ========== */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.4;
}
ul, ol {
  list-style: none;
}
picture, img {
  max-width: 100%;
  display: block;
}
button, input, textarea, select, optgroup {
  font: inherit;
}
button, [type="submit"] {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
